			.navigation {
				position: absolute;
				top: 0px;
				left: 0px;
				right: 0px;
				height: 50px;
				background-color: #555;
				padding: 10px;
			}
			
			.navigation a {
				color: #eee;
				text-decoration: none;
				margin-right: 30px;
			}
			
			.navigation a:hover {
				color: #F90;
			}
			
			.orangeboy{
				color: #F90;
				border: 5px #111111 solid;			
				padding: 25px;
				margin-top: 50px;
				margin-bottom: 100px;
				background-color: #555555;
				}
			#specialdude{
				font-size:130px;
				}
				
			#footer {
				/* position: absolute; */
				bottom: 0px;
				left: 0px;
				right: 0px;
				height: 30px;
				background-color: #555;
			}
			
			body { 
				background-color: #8c8c8c;
				color: #000000

			}

			#userMessage {
				font-size: xx-large;
				color: #f90;
			}
